body, html, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

html {
  min-width: 100vw;
}

body {
  height: 100vh;
  background-color: black;
}

.forest-hero {
  background: url("./images/apartment.jpeg");
  background-size: cover;
  min-height: 1100px;
  -webkit-animation: opacity 1s ease;
          animation: opacity 1s ease;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  justify-content: space-between;
  padding: 1.3em;
  background-color: #ffffe6;
}

.logo {
  color: black;
  font-weight: 600;
  font-size: 1.2em;
}

.menu-hamburger {
  display: none;
  cursor: pointer;
}

.menu-close {
  display: none;
  cursor: pointer;
}

nav {
  width: 30%;
}

header nav ul {
  justify-content: space-between;
}

header nav ul li {
  font-weight: 500;
  font-size: 1.1em;
}

.nav-menu {
  transition: all 0.5s ease-in-out;
}

.nav-menu:hover {
  color: #009900;
}

.current {
  color: #009900;
}

.forest-hero {
  height: 100%;
}

main {
  display: grid;
  height: 100%;
  place-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  color: white;
}

main .left {
  width: 80%;
  margin: 0 auto;
  -webkit-animation: opacity 3s ease;
          animation: opacity 3s ease;
}

main .left h1 {
  position: relative;
}

main .left h1::before {
  content: "";
  position: absolute;
  background-color: #ff944d;
  height: 4px;
  width: 20%;
  border-radius: 4px;
}

main .left a {
  background-color: #ff944d;
  color: white;
  display: inline-block;
  padding: 0.6em 2em;
  margin-top: 2em;
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
}

main .left a:hover {
  background-color: #f59e64;
}

main .right {
  margin-top: 8rem;
}

main .right .option {
  opacity: 0;
  width: 25%;
  margin-inline: 1.6em;
}

main .right h2 {
  margin: 0.4em 0 0.8em 0;
}

main .right p {
  width: 80%;
}

.more-info {
  width: 50%;
  margin-top: 1em;
  position: relative;
  display: inline-block;
}

.more-info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: #ff944d;
  transition: all 1s ease-in-out;
}

.more-info:hover::after {
  width: 100%;
}

.more-info-cta {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
}

.more-info img {
  position: absolute;
  right: 0rem;
  top: 0.35em;
}

.features {
  margin-top: 20rem;
  padding-block: 3em;
  background-color: #1a1919;
  color: white;
}

.features .wrapper {
  width: 80%;
  margin: 0 auto;
}

.features .feature p {
  width: 80%;
  line-height: 1.7em;
}

.description {
  background-color: white;
  position: relative;
  padding-left: 6rem;
  padding-block: 2rem;
}

.crow {
  position: absolute;
  right: 0;
  top: 6rem;
  width: 800px;
  opacity: 0.2;
}

.description .quote {
  display: inline-block;
  font-size: 2.5em;
}

.description h2 {
  margin-block: 1rem;
  font-size: 2em;
}

.description p {
  line-height: 1.4em;
  width: 60%;
  height: 40%;
  font-size: 1.5em;
}

.reviews {
  color: white;
  background-color: #1a1919;
}

.reviews .wrapper {
  justify-content: space-between;
  padding: 2.5em;
}

.reviews .wrapper .profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.right .option:nth-child(1n) {
  -webkit-animation: opacity 1s ease both;
          animation: opacity 1s ease both;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.right .option:nth-child(2n) {
  -webkit-animation: opacity 1s ease both;
          animation: opacity 1s ease both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.right .option:nth-child(3n) {
  -webkit-animation: opacity 1s ease both;
          animation: opacity 1s ease both;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.right .option:nth-child(4n) {
  -webkit-animation: opacity 1s ease both;
          animation: opacity 1s ease both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.right .option:nth-child(5n) {
  -webkit-animation: opacity 1s ease both;
          animation: opacity 1s ease both;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.right .option:nth-child(6n) {
  -webkit-animation: opacity 1s ease both;
          animation: opacity 1s ease both;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.right .option:nth-child(7n) {
  -webkit-animation: opacity 1s ease both;
          animation: opacity 1s ease both;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.right .option:nth-child(8n) {
  -webkit-animation: opacity 1s ease both;
          animation: opacity 1s ease both;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.right .option:nth-child(9n) {
  -webkit-animation: opacity 1s ease both;
          animation: opacity 1s ease both;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.right .option:nth-child(10n) {
  -webkit-animation: opacity 1s ease both;
          animation: opacity 1s ease both;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@media (max-width: 1400px) {
  .description p {
    width: 85%;
  }
}
@media (max-width: 1200px) {
  .crow {
    top: 10rem;
  }
}
@media (max-width: 1000px) {
  .forest-hero {
    background-position: center;
  }
  main {
    display: unset;
  }
  main .left {
    width: 45%;
    margin: 0 auto;
    margin-top: 4rem;
  }
  main .right {
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
  }
  .features {
    margin-top: 10rem;
  }
  .features .wrapper {
    width: 90%;
  }
  .features .feature {
    width: 100%;
  }
  .crow {
    top: 12rem;
  }
  .reviews .wrapper {
    display: grid;
    place-content: center;
    margin-left: 2em;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
  }
  .more-info a img {
    right: -2rem;
  }
}
@media (max-width: 750px) {
  .forest-hero {
    background-position: center;
    min-height: 1500px;
  }
  main .left {
    margin-bottom: 3rem;
  }
  main .right {
    margin: 0;
    display: block;
  }
  main .right .option {
    width: 100%;
    margin-bottom: 4em;
    text-align: left;
    display: flex;
  }
  main .right .option .details {
    margin-left: 1em;
  }
  main .right .option .details h2 {
    font-size: 1.2em;
  }
  main .right .option .details p {
    font-size: 0.9em;
  }
  .features .wrapper {
    display: block;
  }
  .features .wrapper .feature {
    width: 85%;
    margin: 0 auto;
    margin-top: 2em;
  }
  .features .wrapper .feature:first-child {
    margin-top: 0;
  }
  .description {
    padding-left: 4em;
    padding-right: 2em;
  }
}
@media (max-width: 700px) {
  .menu-hamburger {
    display: inline-block;
    float: right;
  }
  .nav {
    display: none;
  }
  .opened {
    z-index: 1000;
    display: block;
  }
  .opened .menu-hamburger {
    display: none;
  }
  .opened .menu-close {
    display: unset;
    position: absolute;
    width: 1.3em;
    right: 1.4em;
    top: 1.3em;
  }
  .opened ul {
    display: unset;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #e2e2a1;
    height: 100vh;
    width: 30%;
  }
  .opened ul li:first-child {
    margin-top: 4em;
  }
  .opened ul li {
    margin-bottom: 1.5em;
    margin-left: 1em;
  }
}
@media (max-width: 500px) {
  main .left {
    width: 75%;
  }
  main .right {
    display: block;
    margin: 1em;
  }
  main .right .option {
    margin-bottom: 3em;
    width: 100%;
  }
  main .right .room {
    width: 150px;
  }
  .more-info img {
    left: 9rem;
  }
  .features .wrapper {
    display: block;
  }
  .description {
    padding-left: 2em;
    padding-right: 1em;
  }
  .crow {
    left: 3rem;
  }
  .reviews .wrapper {
    display: block;
    padding: 2em;
  }
  .reviews .wrapper .review {
    width: 90%;
    margin-bottom: 3em;
  }
  .reviews .wrapper .review:last-child {
    margin-bottom: 0;
  }
  .reviews .wrapper .review h4 {
    margin-block: 0.3em;
  }
}
@media (max-width: 400px) {
  .forest-hero {
    min-height: 1600px;
  }
  main .right .option {
    margin-left: 0.1em;
  }
  main .right .option .room {
    width: 120px;
  }
  main .right .option .details h2 {
    font-size: 1em;
  }
  main .right .option .details p {
    font-size: 0.85em;
  }
  .more-info img {
    left: 8rem;
  }
  .opened ul {
    color: white;
    width: 40%;
  }
}
@media (max-width: 350px) {
  main .right .option {
    display: block;
    text-align: center;
  }
  main .right .option p {
    text-align: left;
    margin-left: 2rem;
  }
  main .right .option .details .more-info {
    margin-right: 7rem;
  }
  main .right .option .details .more-info::after {
    left: 1.6rem;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */